<%= render "migraines/navBar" %>

<div class="mask d-flex align-items-center h-100 gradient-custom-3 pb-0">
    <div class="container h-100 pb-0">
      <div class="container row d-flex justify-content-center align-items-center h-100 pb-0">
        <div class="container col-14 pb-0">
          <div class="card m-4" style="">
            <div class="card-body px-5 pt-5">

<h1 style="text-align:center; padding:10px;">Information</h1>
<br>
<div style="align:center">
<img src="https://my.clevelandclinic.org/-/scassets/images/org/health/articles/5005-migraine-headaches.jpg", style="max-width: 60%; display: block;
  margin-left: auto;
  margin-right: auto;">
<br>
<img src="https://images.ctfassets.net/yixw23k2v6vo/jH9eCyJQk693mpYY0wBuP/85fae84618120c28ac6713fcfa28d586/MIG_INFO_treatments.png?fit=thumb&w=1312&h=738", style="max-width: 50%; display: block;
  margin-left: auto;
  margin-right: auto;" >
<br>
<img src="https://www.migrainedisorders.org/wp-content/uploads/2022/07/Comorbidities-kylies-version.jpg", style="max-width: 50%; display: block;
  margin-left: auto;
  margin-right: auto;">
</div>
<br>
<hr>
<h4>Resources: </h4>
<a href="https://migrainecanada.org/">Migraine Canada</a>
<br>
<a href="https://americanmigrainefoundation.org/living-with-migraine/migraine-essentials/">American Migraine Foundation</a>
<br>
<a href="https://www.webmd.com/migraines-headaches/ss/slideshow-home-remedies-for-migraines">Home Remedies For Migraine</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>
